/* Generic CSS if none of the elements were specifically rendered in a certain
way */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

div {
  display: block;
}

body {
  font-family: "Leitura News", "Palatino", "Georgia", "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.6;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-unstyled {
  list-style-type: none;
}

ul.header_links li {
  display: inline;
  margin: 5px;
}

nav ul,
footer ul {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  padding: 0px;
  list-style: none;
  font-weight: bold;
}

nav ul li,
footer ul li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  transition: background-color 0.35s;
  color: black;
  background-color: #c3eaf7;
}

a:hover {
  background-color: #94d8ef;
}

h1 {
  font-size: 3em;
  text-align: center;
  min-height: 76.8px;
  font-family: "Merienda", cursive;
}

h1 a {
  background-color: inherit;
  font-weight: bold;
}

h1 a:hover {
  text-decoration: none;
  background-color: inherit;
}

p {
  font-size: 1em;
  line-height: 1.4em;
  color: #333;
  text-align: left;
}

section p {
  margin-bottom: 20px;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

/* CSS that deals with header specific entries. */

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f4f4f4;
}

@media (min-width: 500px) .header {
  padding: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.header_photo {
  max-width: 100%;
  height: auto;
  padding-right: 150px;
  z-index: 1;
}

.header_email {
  font-family: "Inconsolata", "Consolas", monospace;
  margin: 10px 0;
  text-align: center;
}

.header_affiliation,
.header_pronouns {
  margin-bottom: 0;
  letter-spacing: 2px;
  text-align: center;
}

@media (min-width: 500px) .header__nav {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.header__quote {
  font-style: italic;
  text-align: center;
}

.header_links {
  text-align: center;
  padding-top: 10px;
}

.header .container {
  display: inline-flex;
}

.header_photo_wrapper::before {
  content: "";
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 150px;
  width: 150px;
  background-color: #bcebd4;
  z-index: -1;
}

/* Set of css instructions to prevent highlight on certain elements on the page */

.no-highlight {
  background-color: inherit;
}
.no-highlight:hover {
  text-decoration: none;
  background-color: none;
}

/* CSS for the container that each section is built in */

.container {
  max-width: 860px;
  margin: 0 auto;
  padding: 40px;
}

.about {
  background-color: #ffffff;
  width: 100%;
}

.section-title {
  font-size: 1.5rem;
  margin: 0 auto;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  display: table;
  padding: 0 10px;
  z-index: 2;
}

.section-title::after {
  content: "";
  background-color: #99ffff;
  height: 5px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  z-index: -1;
}

.column {
  float: left;
  width: 33.33%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* CSS section thats for skills because I needed to specifcy things lmao */

#skills {
  height: 100%;
  background-color: #edfaff;
  width: 100%;
}

#skills span {
  display: block;
  padding-top: 10px;
  padding-bottom: 15px;
  text-decoration: underline;
  text-decoration-color: #333231;
  font-size: 20px;
}

#skills i {
  display: inline;
  font-size: 75px;
  margin-right: 12px;
}

#skills img {
  position: relative;
  top: 8px;
}

/* Section for CSS input on projects and other elements */

#projects {
  background-color: #eaf1f7;
}

.projects-head {
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
}

.resume__tag {
  font-family: "Inconsolata", "Consolas", monospace;
  font-size: 0.9rem;
  padding: 1px 4px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  color: #333;
  background-color: #eaeaea;
}

.resume__tag.research {
  background-color: #f2c4b7;
  color: #8f5a51;
}

.resume__tag.classwork {
  background-color: #ffc966;
  color: #b27300;
}

.resume__tag.design {
  background-color: #bacbf4;
  color: #475e99;
}

.resume__tag.startup {
  background-color: #fa8484;
  color: #ebfaf2;
}

.resume__item-description {
  width: 70%;
  margin-left: auto;
  padding-left: 50px;
}

.resume__item-description,
.resume__item-summary {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 60px;
}

.resume__title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.resume__location {
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.resume__item-links {
  letter-spacing: 1px;
  margin-top: 10px;
}

.font-secondary,
.about h3,
.resume__location,
.resume__item-links,
.header__affiliation {
  font-family: "Larsseit", -apple-system, BlinkMacSystemFont, "Futura",
    sans-serif;
  text-transform: uppercase;
  font-size: 90%;
}

.resume__link--code,
.resume__link--paper,
.resume__link--video,
.resume__link--collab {
  margin-left: 7.5px;
}

.resume__item-links > li:not(:last-of-type) {
  margin-right: 10px;
}

.list-inline li:not(:last-of-type) {
  padding-right: 20px;
}

/* CSS for creating a table */

dl.inline-flex {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  overflow: visible;
}

dl.inline-flex dt {
  text-overflow: ellipsis;
  width: 33%;
  overflow: hidden;
}

dl.inline-flex dd {
  flex: 0 0 67%;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Section for news descriptions */

@media (min-width: 640px) .news__item-description {
  width: 85%;
}

#news {
  background-color: #f9f8e8;
}

.news__item-description {
  margin-left: 0px;
}

.news__item-date,
.news__item-description {
  display: inline-block;
  vertical-align: top;
}

.news__item-date {
  font-style: italic;
  padding-right: 20px;
  font-weight: 600;
  font-size: 0.9rem;
  display: block;
  border-left: solid;
}

dt.news__item-date p {
  text-align: right;
}

/* Things that I needed to include in the footer section! */

footer {
  text-align: center;
  font-size: 0.9rem;
}

.dark {
  background-color: #202631;
  color: #fff;
}

.footer__links {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-end {
  color: white;
  z-index: 1;
  text-align: center;
  margin-right: 100px;
  padding-top: 40px;
}

#end div {
  display: inline-flex;
}

footer .container {
  padding: 0px;
}

/* Timeline? ... timeline  */

.timeline {
  width: 100%;
  max-width: 800px;
  background-color: seashell;
  padding: 50px 50px 0px;
  position: relative;
  box-shadow: 0.5rem 0.5rem 3rem 0 rgba(0, 0, 0, 0.2);
}
.timeline:before {
  content: "";
  position: absolute;
  top: 0px;
  left: calc(33% + 15px);
  bottom: 0px;
  width: 4px;
  background: #ddd;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
}
.entry .title {
  margin-bottom: 0.5em;
  float: left;
  width: 33%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}
.entry .title:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid salmon;
  background-color: #fff;
  border-radius: 100%;
  top: 15%;
  right: -9px;
  z-index: 5;
}
.entry .title h3 {
  margin: 0;
  font-size: 100%;
  font-weight: bold;
}
.entry .title p {
  margin: 0;
  font-size: 60%;
}
.entry .body {
  margin: 0 0 3em;
  float: right;
  width: 66%;
  padding-left: 30px;
  font-size: 90%;
  font-style: italic;
}
.entry .body p {
  line-height: 1.4em;
}
.entry .body p:first-child {
  margin-top: 0;
  font-weight: 400;
}
.entry .body ul {
  color: #aaa;
  padding-left: 0;
  list-style-type: none;
}
.entry .body ul li:before {
  content: "–";
  margin-right: 0.5em;
}

/* Here's a bunch of code to make the page responsive. Also why is this over 450
lines of code (literally CSS is the worst). If you're reading this, know that I
love you a lot and hope you have a great day <3  */

@media only screen and (max-width: 600px) {
  .header .container {
    display: block;
  }

  .header_photo {
    padding-right: 0px;
  }

  .header_affiliation,
  .header_pronouns,
  .header_email,
  .header_links {
    text-align: center;
  }

  .footer-end {
    margin-right: 0px;
    padding-top: 0px;
  }

  #end div {
    display: block;
  }

  dl.inline-flex dt {
    overflow: visible;
  }

  footer .container {
    padding: 40px;
  }
  .resume__item-links {
    display: contents;
  }
  .resume__item-links > li:not(:first-of-type) {
    padding-top: 5px;
  }
}

/* Legit Hate animations but okay */
.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: slide-top 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  background-image: ;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

/* Doggo Preloader! */
.doggo {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 250px;
  text-align: center;
}

.doggo-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 10;
}

.background {
  background-image: url("background.jpg");
}
