
.header_title {
  padding: 60px;
  text-align: left;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.header_affiliation {
  text-align: left;
  font-size: 15px;
}

.header_photo_wrapper {
  margin-right: 10%
}

.no-highlight {
  background-color: #FFFFFF
}

.header_pronouns {
  text-align: left;
  font-size: 15px;
}

.header_email {
  text-align: left;
  font-size: 15px;
}

body {
    margin: 60px auto;
    width: 70%;
    background-color: #F5F5DC;
    font-family: "Leitura News","Palatino","Georgia","Times New Roman",serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.header__links li {
  display: inline;
  margin: 10px 0;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: black;
    background-color: #eded1c
}

a:hover {
    text-decoration: underline;
}

.section-title {
  text-align: center;
}

.button {
  background-color: #87ceeb;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
}

.button:hover {
  background-color: #000080;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
}
p {
    font-size: 1.3em;
    line-height: 1.4em;
    color: #333;
    text-align: left;
    margin: 35px 100px 35px
}

/* footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    color: #000000;
} */

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


.about {
  background: white;
}


#skills {
    height: 100%;
    margin-top: 70px;
}

#skills .container-fluid {
    background: white;
}

#skills p {
    color: rgb(39, 39, 39);
    font-size: 25px;
}

#skills h2 {
    font-size: 3rem !important;
    color: rgb(68, 68, 68);
    margin-bottom: 0;
}

#skills span {
    display: block;
    padding-top: 10px;
    padding-bottom: 15px;
    text-decoration: underline;
    text-decoration-color: #333231;
}

#skills i {
    display: inline;
    font-size: 75px;
    margin-right: 12px;
}

/* Footer Information */

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
